body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3em;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

button {
    width: 20em;
    height: 2rem;
}
