section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5em;
    align-items: center;
}

.controls-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    left: 15em;
    /*text-decoration: none;*/
}

.form-container {
    background-color: var(--background-darker-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    width: 50%;
    height: 50%;
    border-radius: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--default-button-color);
}
