section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
}

body {
    overflow: hidden;
}

.controls-bar {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.submit-button {
    background-color: var(--default-button-color);
    text-decoration: none;
    border-radius: 5px;
    padding: .5em;
    transition: transform .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.submit-button:hover {
    transform: scale(1.05);
}

.no-themes-container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.no-themes-container > p {
    font-size: 1.5rem;
    margin: 0;
}

.themes-list-container {
    width: 100%;
    height: 95%;
}

.themes-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.themes-card {
    background-color: var(--background-darker-color);
    border-radius: 10px;
    width: 50%;
    margin-bottom: 1em;
    height: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.theme-card-header {
    width: 100%;
}

.theme-card-title-bar > h1 {
    margin: 0;
    padding-left: 1em;
    padding-top: .5em;
    font-size: 1.3em;
}

.theme-card-title-bar {
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-card-state-span {
    font-weight: bold;
    padding: .3em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    width: 7em;
}

.theme-card-state-AVAILABLE {
    background-color: var(--primary-green);
}

.theme-card-state-TAKEN {
    background-color: var(--primary-red);
}

.theme-card-content {
    padding: 1em;
}

.theme-card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.more-details-button {
    border-radius: 50%;
    cursor: pointer;
    /*width: 2rem;*/
    /*height: 2rem;*/
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.more-details-button:hover {
    background-color: var(--hover-transparent-color);
}

.more-details-button > span {
    font-size: 2rem;
}
