section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
}

body {
    overflow: hidden;
}

.no-thesis-container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.no-thesis-container > p {
    font-size: 1.5rem;
    margin: 0;
}

.thesis-list-container {
    width: 100%;
    height: 95%;
}

.thesis-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.thesis-card {
    background-color: var(--background-darker-color);
    border-radius: 10px;
    width: 50%;
    margin-bottom: 1em;
    height: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.thesis-card-header {
    width: 100%;
}

.thesis-card-title-bar > h1 {
    margin: 0;
    padding-left: 1em;
    padding-top: .5em;
    font-size: 1.3em;
}

.thesis-card-title-bar {
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thesis-card-content {
    padding: 1em;
}

.thesis-card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.person-display {
    display: flex;
    height: 2em;
    margin-top: 1em;
    align-items: center;
    gap: .5em;
}

.person-display > img {
    height: 100%;
    border-radius: 50%;
}

.thesis-card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.more-details-button {
    border-radius: 50%;
    cursor: pointer;
    padding: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.more-details-button:hover {
    background-color: var(--hover-transparent-color);
}

.more-details-button > span {
    font-size: 2rem;
}
