<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThesisMan | Login</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/auth_common.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<main>
    <div class="auth-container">
        <div class="auth-logo-container">
            <h1>ThesisMan</h1>
        </div>
        <div class="auth-form-container">
            <form action="/login" method="post">
                <label for="fusername">Email:</label>
                <input type="email" id="fusername" name="username" placeholder="Email" required="required">
                <label for="fpassword">Password:</label>
                <input type="password" id="fpassword" name="password" placeholder="Password" required="required">
                <button type="submit" class="login-button">Login</button>
            </form>
            <a href="/register" tabindex="-1">
                <button class="register-button">Register as Worker</button>
            </a>
        </div>
    </div>
</main>
<div class="error-message-container" th:if="${errorMessage} != null">
    <p th:text="${errorMessage}">...</p>
</div>
</body>
</html>
