body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3em;
}

h1, h2 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 2rem;
}
