body, html, main {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.auth-container {
    width: 70em;
    height: 30em;
    display: flex;
    background-color: #2b2b2b;
    border-radius: 15px;
}

.auth-logo-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 10px solid var(--background-color);
}

.auth-logo-container > h1 {
    margin: 0;
    font-weight: bold;
}

.auth-form-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
