section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    font-weight: bold;
    font-size: 2rem;
}

.back-button {
    position: absolute;
    left: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.back-button > .text-decor {
    text-decoration: underline;
}

.defence-details-container {
    margin-top: 5em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.info-card {
    width: 20em;
    height: 15em;
    background-color: var(--background-darker-color);
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.info-card-header {
    width: 100%;
    padding-top: 1em;
}

.info-card-header > h1 {
    font-weight: bold;
    margin: 0;
}

.info-card-content {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.person-display {
    display: flex;
    height: 2em;
    margin-top: 1em;
    align-items: center;
    gap: .5em;
}

.person-display > img {
    height: 100%;
    border-radius: 50%;
}

.form-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}

form {
    height: 10em !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

form > input {
    width: 80%;
}

form > button {
    width: 8em;
    height: 2em;
}
