.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: var(--background-darker-color);
    height: 5vh;
    box-sizing: border-box;
}

.main-header > h1 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.main-app {
    display: flex;
    width: 100%;
    height: 95vh;
}

.content-div-container-background {
    background-color: var(--background-darker-color);
    width: 100%;
    height: 100%;
}

.content-div-container {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
}

.side-nav {
    width: 15em;
    height: 100%;
    background-color: var(--background-darker-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav > img {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.side-nav > p {
    margin: 0;
}

.side-nav > .user-name {
    margin-top: 1em;
}

.side-nav > .work-designation {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: .8em;
}

.divider {
    width: 90%;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}

.side-nav > nav {
    margin-top: 1em;
    width: 100%;
}

.side-nav > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.side-nav > nav > ul > li {
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
}

.side-nav > nav > ul > li:hover {
    background-color: #3c3c3c99;
}

.side-nav > nav > ul > li > a {
    padding-left: 1em;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.selected-nav-option {
    background-color: #3c3c3c99;
}
