section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    font-weight: bold;
    font-size: 2rem;
}

.back-button {
    position: absolute;
    left: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.back-button > .text-decor {
    text-decoration: underline;
}

.form-container {
    background-color: var(--background-darker-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

input, select {
    width: 15em;
}

button {
    width: 8em;
    height: 2em;
}
